/* @theme thin-gaia */

@import 'gaia';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
    --color-background: #fff;
    --color-foreground: #333;
    --color-highlight: #800000;
}

section {
    background-image: none;
    font-family: 'Noto Sans JP', sans-serif;
    padding-top: 90px;
    padding-left: 40px;
    padding-right: 40px;
}

/* https://github.com/marp-team/marpit/issues/271 */
section::after {
    font-weight: 700;
    content: attr(data-marpit-pagination) '/' attr(data-marpit-pagination-total);
}


blockquote {
    max-width: 90%;
    border-top: 0.1em dashed #555;
    font-size: 60%;
    position: absolute;
    bottom: 20px;
}

blockquote::before {
    content: "";
}

blockquote::after {
    content: "";
}
